# Task 2

Task 2: You are free to find and define a problem (apply the discovery and define phases first, from the UK Design Council Double Diamond, 3.007 Design Thinking and Innovation) of your interest related to COVID-19. The problem can be modelled either using Linear Regression (or Multiple Linear Regression) or Logistic Regression, which means you can work with either continuous numerical data or classification.

The following technical/tool constraint applies: you are NOT allowed to use Neural Networks or other Machine Learning models. You must use Python and Jupyter Notebook.

In general, you may want to consider performing the following steps:
- Find an interesting problem which you want to solve either using **Linear Regression or Classification** (please check with your instructors first on whether the problem makes sense).
- Find a **dataset** to build your model. For example, you can use Kaggle (https://www.kaggle.com/datasets) to find suitable datasets.
- Use **plots** to visualize and understand your data.
- Create **training and test** data sets.
- Build your model.
- Choose an **appropriate metric** to evaluate your model (you may use the same metric as the one used in Task 1).
- Improve your model.

Problem: predict gold prices given covid
Effect of covid on economy

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Load data 
We use data from [Yahoo Finance](https://finance.yahoo.com/quote/GLD/history?period1=1479859200&period2=1637625600&interval=1wk&filter=history&frequency=1wk&includeAdjustedClose=true)

In [72]:
df_gold_all = pd.read_csv('GLD.csv')
df = pd.read_csv('covid_data.csv')

# display(df_gold)
# display(df)

## Clean data

In [67]:
columns_cat=['date','location','continent']
columns_num=['new_deaths', 'new_cases',
         'stringency_index','total_tests','total_vaccinations',
         'reproduction_rate','hospital_beds_per_thousand','hosp_patients_per_million',
         'hosp_patients','icu_patients_per_million','icu_patients']

df_cat = df.loc[((df['location']=='United States')| (df['location']=='China') | (df['location']=='Japan') | (df['location']=='Hong Kong') | (df['location']=='United Kingdom') | 
(df['location']=='Canada') | (df['location']=='India') | (df['location']=='Saudi Arabia') | (df['location']=='France') | (df['location']=='Germany') | 
(df['location']=='South Korea') | (df['location']=='Switzerland') | (df['location']=='Australia') | (df['location']=='Netherlands') |  
(df['location']=='Iran')| (df['location']=='Sweden')| (df['location']=='Brazil')| (df['location']=='Spain')|(df['location']=='Russia') |(df['location']=='Singapore')) ,columns_cat]

df_num = df.loc[((df['location']=='United States')| (df['location']=='China') | (df['location']=='Japan') | (df['location']=='Hong Kong') | (df['location']=='United Kingdom') | 
(df['location']=='Canada') | (df['location']=='India') | (df['location']=='Saudi Arabia') | (df['location']=='France') | (df['location']=='Germany') | 
(df['location']=='South Korea') | (df['location']=='Switzerland') | (df['location']=='Australia') | (df['location']=='Netherlands') |  
(df['location']=='Iran')| (df['location']=='Sweden')| (df['location']=='Brazil')| (df['location']=='Spain')|(df['location']=='Russia') |(df['location']=='Singapore')) ,columns_num]

# & ((df['date']> '2021-01-01') & (df['date']< '2021-11-17'))
#'population_density','handwashing_facilities','extreme_poverty','gdp_per_capita',
# (df['location']=='Bulgaria') | (df['location']=='Croatia') | (df['location']=='Cyprus') | (df['location']=='Czech Republic') | 
# (df['location']=='Latvia') | (df['location']=='Lithuania') | (df['location']=='Luxembourg') | 
# (df['location']=='Malta') | 
# (df['location']=='Romania')| 
# (df['location']=='Slovakia')|

In [68]:
def normalize_minmax(dfin):
    df_copy=dfin.copy()
    min_v=dfin.min(axis=0)
    max_v=dfin.max(axis=0)
    dfout=(df_copy-min_v)/(max_v-min_v)
    return dfout

data_norm = normalize_minmax(df_num)
stats = data_norm.describe()
# display(stats)

frames=[df_cat , data_norm]
result = pd.concat(frames,axis=1)
df_covid=result.fillna(0)
display(df_covid)

,date,location,continent,new_deaths,new_cases,stringency_index,total_tests,total_vaccinations,reproduction_rate,hospital_beds_per_thousand,hosp_patients_per_million,hosp_patients,icu_patients_per_million,icu_patients
6885,2020-01-26,Australia,Oceania,0.000000,0.152192,0.0556,0.0,0.000000,0.0,0.264377,0.000000,0.000000,0.000000,0.000000
6886,2020-01-27,Australia,Oceania,0.000000,0.152186,0.0556,0.0,0.000000,0.0,0.264377,0.000000,0.000000,0.000000,0.000000
6887,2020-01-28,Australia,Oceania,0.000000,0.152184,0.0556,0.0,0.000000,0.0,0.264377,0.000000,0.000000,0.000000,0.000000
6888,2020-01-29,Australia,Oceania,0.000000,0.152186,0.0556,0.0,0.000000,0.0,0.264377,0.000000,0.000000,0.000000,0.000000
6889,2020-01-30,Australia,Oceania,0.000000,0.152190,0.0556,0.0,0.000000,0.0,0.264377,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127133,2021-11-13,United States,North America,0.255058,0.249411,0.4491,0.0,0.184892,0.0,0.178914,0.181536,0.310692,0.324237,0.391160
127134,2021-11-14,United States,North America,0.219328,0.202968,0.4491,0.0,0.185005,0.0,0.178914,0.183070,0.313318,0.323511,0.390295
127135,2021-11-15,United States,North America,0.343198,0.443051,0.4491,0.0,0.185044,0.0,0.178914,0.187783,0.321385,0.327733,0.395383
127136,2021-11-16,United States,North America,0.362247,0.331252,0.4491,0.0,0.185044,0.0,0.178914,0.184496,0.315757,0.320617,0.386799
127137,2021-11-17,United States,North America,0.380973,0.379610,0.0000,0.0,0.000000,0.0,0.178914,0.000000,0.000000,0.000000,0.000000

In [74]:
#Clean Up of Gold Data frame
#Datetime -> Date Clean Up
# change to standard date 


#Remove non-close related tabs
# df_gold.drop(['Volume','Open','High','Low'], axis=1, inplace=True)
# #Rename close* -> Gold End Of Day Price
# df_gold.rename(columns = {'Close/Last':'Close'}, inplace = True)
df_gold_all = pd.read_csv('GLD.csv')
df_gold=df_gold_all.loc[((df_gold_all['Date']> '2021-01-01') & (df_gold_all['Date']< '2021-11-17')) ,:]
df_gold['Date'] = pd.to_datetime(df_gold['Date']).dt.date

with np.printoptions(threshold=np.inf):
    display(df_gold)

<ipython-input-74-2a8ba3b67e77>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gold['Date'] = pd.to_datetime(df_gold['Date']).dt.date

,Date,Open,High,Low,Close,Adj Close,Volume
215,2021-01-04,181.970001,183.210007,171.479996,173.339996,173.339996,77013800.0
216,2021-01-11,172.139999,174.460007,170.979996,171.130005,171.130005,62175400.0
217,2021-01-18,172.710007,175.509995,171.919998,173.899994,173.899994,31458100.0
218,2021-01-25,174.820007,175.160004,171.660004,172.610001,172.610001,40304100.0
219,2021-02-01,175.020004,175.259995,167.339996,169.809998,169.809998,41260400.0
220,2021-02-08,171.979996,173.220001,169.880005,170.690002,170.690002,30145500.0
221,2021-02-15,168.139999,170.070007,165.729996,167.009995,167.009995,41933500.0
222,2021-02-22,168.539993,169.889999,160.949997,161.809998,161.809998,67669200.0
223,2021-03-01,163.029999,163.350006,158.429993,159.139999,159.139999,65004500.0
224,2021-03-08,158.580002,161.979996,157.130005,161.490005,161.490005,45837200.0
225,2021-03-15,162.309998,164.149994,161.110001,163.240005,163.240005,43858600.0
226,2021-03-22,162.270004,163.580002,161.320007,162.240005,162.240005,32024500.0
227,2021-03-29,161.460007,162.110001,157.550003,161.979996,161.979996,34491500.0
228,2021-04-05,161.520004,164.770004,161.360001,163.270004,163.270004,31593400.0
229,2021-04-12,162.729996,166.809998,161.809998,166.350006,166.350006,36513100.0
230,2021-04-19,165.910004,168.389999,165.619995,166.399994,166.399994,35420400.0
231,2021-04-26,166.630005,167.149994,164.470001,165.660004,165.660004,32398600.0
232,2021-05-03,167.610001,172.550003,165.500000,171.589996,171.589996,53554800.0
233,2021-05-10,172.740005,172.839996,170.229996,172.690002,172.690002,47056200.0
234,2021-05-17,173.300003,177.000000,173.279999,176.039993,176.039993,57471900.0
235,2021-05-24,176.149994,178.610001,175.869995,178.380005,178.380005,40999600.0
236,2021-05-31,178.759995,178.850006,174.660004,177.160004,177.160004,34285600.0
237,2021-06-07,176.960007,177.899994,175.479996,175.740005,175.740005,37694500.0
238,2021-06-14,173.160004,175.059998,164.869995,164.929993,164.929993,75180000.0
239,2021-06-21,166.520004,168.029999,165.970001,166.589996,166.589996,38446300.0
240,2021-06-28,166.679993,167.720001,164.009995,167.289993,167.289993,37220200.0
241,2021-07-05,169.270004,169.860001,167.539993,169.210007,169.210007,27282700.0
242,2021-07-12,168.699997,171.300003,167.639999,169.410004,169.410004,39166400.0
243,2021-07-19,169.509995,170.800003,167.949997,168.559998,168.559998,28495200.0
244,2021-07-26,168.580002,171.520004,167.720001,169.820007,169.820007,34943100.0
245,2021-08-02,169.300003,171.399994,164.550003,164.639999,164.639999,47539200.0
246,2021-08-09,163.009995,166.460007,160.679993,166.389999,166.389999,38435300.0
247,2021-08-16,166.729996,167.729996,166.160004,166.699997,166.699997,36669700.0
248,2021-08-23,168.820007,170.190002,166.740005,170.190002,170.190002,32705300.0
249,2021-08-30,169.660004,171.550003,168.750000,171.059998,171.059998,27822600.0
250,2021-09-06,169.559998,169.779999,166.699997,167.179993,167.179993,30643900.0
251,2021-09-13,167.449997,169.160004,163.229996,163.770004,163.770004,39172200.0
252,2021-09-20,164.289993,167.149994,162.740005,163.300003,163.300003,39915300.0
253,2021-09-27,163.850006,164.960007,160.970001,164.589996,164.589996,39814100.0
254,2021-10-04,163.690002,166.419998,163.470001,164.229996,164.229996,32663200.0
255,2021-10-11,164.039993,168.220001,163.910004,165.330002,165.330002,34166600.0
256,2021-10-18,165.419998,169.539993,164.809998,167.770004,167.770004,30756400.0
257,2021-10-25,168.660004,169.250000,165.639999,166.649994,166.649994,31895900.0
258,2021-11-01,167.380005,169.940002,164.380005,169.839996,169.839996,33813300.0
259,2021-11-08,170.429993,174.669998,170.059998,174.449997,174.449997,36061400.0
260,2021-11-15,174.100006,174.610001,172.240005,172.610001,172.610001,35858800.0

In [64]:
df_covid['date']=pd.to_datetime(df_covid['date'])
# print(df_covid)
df_covid.groupby(pd.Grouper(key="date", freq="1W")).mean()
display(df_covid)

,date,location,continent,new_deaths,new_cases,stringency_index,total_tests,total_vaccinations,reproduction_rate,hospital_beds_per_thousand,hosp_patients_per_million,hosp_patients,icu_patients_per_million,icu_patients
6885,2020-01-26,Australia,Oceania,0.000000,0.152192,0.0556,0.0,0.000000,0.0,0.264377,0.000000,0.000000,0.000000,0.000000
6886,2020-01-27,Australia,Oceania,0.000000,0.152186,0.0556,0.0,0.000000,0.0,0.264377,0.000000,0.000000,0.000000,0.000000
6887,2020-01-28,Australia,Oceania,0.000000,0.152184,0.0556,0.0,0.000000,0.0,0.264377,0.000000,0.000000,0.000000,0.000000
6888,2020-01-29,Australia,Oceania,0.000000,0.152186,0.0556,0.0,0.000000,0.0,0.264377,0.000000,0.000000,0.000000,0.000000
6889,2020-01-30,Australia,Oceania,0.000000,0.152190,0.0556,0.0,0.000000,0.0,0.264377,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127133,2021-11-13,United States,North America,0.255058,0.249411,0.4491,0.0,0.184892,0.0,0.178914,0.181536,0.310692,0.324237,0.391160
127134,2021-11-14,United States,North America,0.219328,0.202968,0.4491,0.0,0.185005,0.0,0.178914,0.183070,0.313318,0.323511,0.390295
127135,2021-11-15,United States,North America,0.343198,0.443051,0.4491,0.0,0.185044,0.0,0.178914,0.187783,0.321385,0.327733,0.395383
127136,2021-11-16,United States,North America,0.362247,0.331252,0.4491,0.0,0.185044,0.0,0.178914,0.184496,0.315757,0.320617,0.386799
127137,2021-11-17,United States,North America,0.380973,0.379610,0.0000,0.0,0.000000,0.0,0.178914,0.000000,0.000000,0.000000,0.000000

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-11-21,115.720001,115.790001,112.349998,112.610001,112.610001,32719900.0
1,2016-11-28,113.230003,113.839996,110.629997,112.139999,112.139999,41673000.0
2,2016-12-05,111.150002,112.500000,110.190002,110.400002,110.400002,37108900.0
3,2016-12-12,110.589996,111.110001,107.000000,108.050003,108.050003,52082200.0
4,2016-12-19,108.599998,108.879997,107.290001,107.930000,107.930000,27803900.0
...,...,...,...,...,...,...,...
258,2021-11-01,167.380005,169.940002,164.380005,169.839996,169.839996,33813300.0
259,2021-11-08,170.429993,174.669998,170.059998,174.449997,174.449997,36061400.0
260,2021-11-15,174.100006,174.610001,172.240005,172.610001,172.610001,35858800.0
261,2021-11-22,NaN,NaN,NaN,NaN,NaN,NaN
262,2021-11-22,169.899994,170.440002,168.419998,168.740005,168.740005,12933644.0

In [47]:
myplot = sns.pairplot(data=result, hue='location',x_vars=['new_deaths', 'new_cases',
         'stringency_index','total_tests','total_vaccinations',
         'reproduction_rate'],y_vars=['new_deaths'])

0    2021-12-27
dtype: object

In [ ]:
myplot = sns.pairplot(data=result, hue='location',x_vars=['new_deaths','hospital_beds_per_thousand','hosp_patients_per_million',
         'hosp_patients','icu_patients_per_million','icu_patients'],y_vars=['new_deaths'])

In [ ]:
myplot = sns.pairplot(data=result, hue='location',x_vars=['new_cases','new_deaths', 
         'stringency_index','total_tests','total_vaccinations',
         'reproduction_rate'],y_vars=['new_cases'])

In [ ]:
myplot = sns.pairplot(data=result, hue='location',x_vars=['new_cases','new_deaths',
         'hospital_beds_per_thousand','hosp_patients_per_million',
         'hosp_patients','icu_patients_per_million','icu_patients'],y_vars=['new_cases'])